<header class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <h1 class="">Marcel Widmer</h1>
    <p><span class="reserved">fun</span> contact<span class="string">(){
    </span></p>
    <p>
      <span class="reserved">&nbsp; val</span> nickname = <span class="string">"{{ site.nick }}"</span>
    </p>
    <p>
      &nbsp; println(<a href="https://{{ site.source_code.server }}/{{ site.source_code.nick }}" target="_blank"><span class="string">"https://{{ site.source_code.server }}/$nickname"</span></a>)
    </p>
    <p>
      <span class="reserved">&nbsp; val</span> organisation = <span class="string">"{{ site.organisation }}"</span>
    </p>
    <p>
      &nbsp; println(<a href="https://{{ site.source_code.server }}/{{ site.source_code.organisation }}" target="_blank"><span class="string">"https://{{ site.source_code.server }}/$organisation"</span></a>)
    </p>
    <!--     <p>
          <span class="reserved">&nbsp; val</span> twitterAccount = <span class="string">"{{ site.twitterAccount }}"</span>
        </p>
       <p>
          &nbsp; println(<a href="https://twitter.com/{{site.twitterAccount}}" target="_blank"><span class="string">"https://twitter.com/$twitterAccount"</span></a>)
        </p>-->
    <p><span class="string">}</span></p>
  </div>
</header>

{% include menu.html %}
